<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/Parveen/IdeaProjects/APIFrameowrk_Scratch">

        <classes>
     <!--       <class name="org.apitestinglearning.tests.CRUD.TestCreateBooking"></class>-->
        <!--     <class name="org.apitestinglearning.tests.CRUD.TestCreateToken"></class>-->
            <class name="org.apitestinglearning.tests.CRUD.TestHealthCheck"></class>

        </classes>
    </test>
</suite>